* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 1.8rem;
}


/*Header*/
header {
    background: url(./images/bg-header-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_logo {
    text-align: center;
    padding: 4rem 0;
}

.history_download {
    text-align: center;
}

.history_download h1 {
    margin-top: -1.6rem;
    font-size: 2.4rem;
}

.history_download p {
    line-height: 1.50rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.track{
    margin-top: 5rem;
}

.track-text {
    text-align: center;
    padding-bottom: 3.0rem;
}

main h2 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.track p {
    line-height: 1.4rem;
}

.track_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4.0rem;
    flex-wrap: wrap;
}

.tv_left {
    width: 50%;
    transform: translateX(-3vw);
}

.tv_left img {
    width: 100%;
}

.text_right {
    margin-bottom: 4rem;
}

.workflow {
    margin-top: 5rem;
}

.workflow_text {
    text-align: center;
}

.workflow_text img {
    margin-top: 4rem;
    width: 50%;
}

.brands {
    text-align: center;
}

.brands p {
    padding-top: 1.5rem;
}

.brands_tools_icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.brands_tools_icons p {
    margin-top: 1.5rem;
}

.brands_tools_icons h2 {
    margin-top: 1.5rem;
}

.brands_tools_company {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.hero {
    text-align: center;
    margin-top: 5rem;
    
}

.hero p {
    line-height: 1.50rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.contact_details {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.contact_details ul {
    list-style: none;
    cursor: pointer;
}

ul {
    font-size: 18px;
    line-height: 3rem;
}

.contact_details ul, .contact_details_media {
    padding-top: 20px;
}

.contact_details ul span {
    line-height: 2rem;
}

.contact_details_media {
    margin: auto 0 auto 0;
}

.contact_details_media img{
    padding-left: 0.5rem;
}

.button_download {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    text-align: center;
    gap: 20px;
    background-color: hsl(171, 66%, 44%);
    padding: 1.1rem 2.1rem;
    border-radius: 25px;
    font-weight: bolder;
    border: none;
    box-shadow: 4px 3px 7px hsl(171, 66%, 44%);
    cursor: pointer;
}

.button_download .mac_download {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 4px 3px 7px hsl(233, 100%, 69%);
}

footer {
    background-color: hsl(201, 11%, 66%);
    padding-bottom: 1.5rem;
}

 .attribution {
    font-size: 15px;
    text-align: center;
 }

 .attribution a {
    color: hsl(228, 45%, 44%);
 }

/* Responsiveness on mobile*/
@media (max-width: 426px) {
   .button_download {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   button {
    width: 100%;
   }

   .track {
    margin-top: 2rem;
   }

   .track_box {
    flex-direction: column;
   }

   .workflow {
    margin-top: 1rem;
   }

   .workflow_text img {
    width: 100%;
   }

   .tv_left {
    width: 90%;
    transform: translateX(0vw);
   }

   .text_right {
    text-align: center;
   }
   
   .brands_tools_icons {
    flex-direction: column;
    margin-top: 2rem;
   }

   .brands_tools_icons img {
    padding-top: 2rem;
   }

   .brands_tools_company {
    flex-direction: column;
    text-align: center;
    width: 100%;
   }

    .brands_tools_company {
        width: 60%;
        margin: auto;
    }

   .brands_tools_company img {
    padding-top: 3.5rem;
    width: -webkit-fill-available;
   }

   footer {
    line-height: 3rem;
   }

   .contact_details, .attribution {
    display: flex;
    flex-direction: column;
    text-align: center;
   }

   .contact_details_mb-view {
       height: 50%;
       width: 30%;
       margin: auto;
   }

   .contact_details ul,
   .contact_details_media {
    padding-top: 7px;
   }
}

/*Responsiveness on tablet view*/
@media screen and (max-width: 823px) and (min-width:427px) {
    .track_box {
         justify-content: center;
        }

    .text_right {
        text-align: center;
    }

    .contact_details {
        line-height: 2.0;
        padding: 2rem 1rem;
    }

    .contact_details ul {
        padding: 0rem 1rem;
    }
}

@media screen and (max-width: 1010px) and (min-width:427px) {
    .brands_tools_icons div {
        padding: 1.7rem 0rem;
    }
}

@media screen and (max-width: 1000px) and (min-width: 427px) {
    .brands_tools_company img {
        padding: 1.3rem 1.5rem;
    }
}

@media (max-width: 710px) {
    footer, .hero, .workflow, .track, .history_download {
        padding: 0px 1rem;
    }

    p {
        font-size: initial;
    }

    h2 {
        font-size: 1.5rem;
    }
}


